/* app global css */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
    font-family: 'Seven Segment';
    src: url('../assets/seven_segment/DSEG7ClassicMini-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.wrapper {
    border: 1px solid black;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    overflow: clip;
}

.wrapper-title {
    border-radius: 0;
    font-size: 1.2em;
}

.text-ellipsis {
    overflow: hidden;
    max-width: 100%;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.router-link {
    text-decoration: none;
    color: inherit;
    display: block;
}
